.table-container {
  width: 70%;
}

.table-container h1{
  width: 90%;
}

table {
  width: 90%;
  border: 1px solid #cecece;
  border-radius: 5px;
  border-collapse: collapse;
}

.list-thead{
  border-bottom: 1px solid #cecece;  
  padding: 10px 5px;
}

.table-data {
  text-align: left;
  border-bottom: 1px solid #cecece;  
  padding: 5px;
}

.table-data p {
  margin: 0%;
  padding: 5px;
}

.table-data button {
  margin: 0%;
  border: 1px solid #cecece;
  border-radius: 5px;
  outline: none;
}

thead {
  text-align: left;  
}